/*====================
  Body
  ====================== */

/* Juan Felipe Torres: Buen uso de la hoja de estilos CSS, buena documentación y pues se nota que se tomó el tiempo para
 aplicarle los estilos a la página. Recomendaría que todas las fotos tengan buena calidad y no sé, puede ser que con el 
 CSS, dividir la visual de la página en secciones para que no se vea todo en un fondo, sino que cada parte esté seccionada
 o por lo menos el footer.*/
body {
    background-image: url("paper.gif");
    background-color: #cccccc;
}  

/* Banner  */  
#panoramica  {
      width: 1500px ; 
      height: 400px ;
      max-width: 100%;
}
  
/* who i am  */
#Who-i-am {
    padding: 10px;
    margin-top: 40px;
}

/* Education  */
#Education {
    padding: 10px;
    margin-top: 40px;
}

#Education img:hover {
    border: 5px solid #f7f7f7 ;
}

/* Hobbies  */
#Hobbies {
    padding: 10px;
    margin-top: 40px;
}

#Hobbies .col-sm-4 {
    margin: 0;
    padding: 25px;
}

#Hobbies img {
    width: 100%;
    height: 250px;
}

#Hobbies img:hover {
    border: 5px solid #f7f7f7 ;
}

/* Contact  */
#Contact {
    padding: 10px;
    margin-top: 40px;  
}

#contact {   
    width: 85%;
    background-size: cover;   
}

/* All the h1 */
h1{
    font-family: 'Sigmar One', cursive;
}

/* All the parrafos */
.parrafos{
    font-family: 'Cantarell', sans-serif;
    font-size: 15pt;
    text-align: justify;
}

/* All the parrafos from hobbies section */
.parrafosHobbie{
    font-family: 'Coming Soon', cursive;
    font-size: 15pt;
    text-align: justify;
}

/* All the rounded images */
img.rounded{
    width: 320px; height: 275px;
  }

  
